<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css"/>
  <title>Blog Post</title>
</head>

<body>
  <a href="/blog" class="main-title">Blog Post</a>

  <div class="login-area">
    {% if user %}
      Welcome, {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      |
      <a href="/blog/newpost">New Post</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

